extends ../layout
block content
  .container
    .row
      .col.s12.l3
        .collection
          a.collection-item.waves-effect(href='/profile/information') Information
          a.collection-item.waves-effect(href='/profile/posts') Posts
          a.collection-item.waves-effect(href='/profile/administration') Administration
      .col.s12.l9
        row
          block profile-selection
  script(src='/javascripts/profile/collection-controller.js')
          