extends ../layout
block content
  .container
    .row
      .col.s12.l3
        .collection
          a.collection-item.waves-effect(href=`/profile/information?userId=${req.query.userId}`) Information
          a.collection-item.waves-effect(href=`/profile/posts?userId=${req.query.userId}`) Posts
          if session.userRole > 2
            a.collection-item.waves-effect(href=`/profile/administration?userId=${req.query.userId}`) Administration
      .col.s12.l9
        row
          block profile-selection
  script(src='/javascripts/profile/collection-controller.js')
          