extends layout

block profile-selection
  .row
    .col.s12.purple.lighten-2.hide-on-med-and-down
      a.text-grey.breadcrumb(href='/profile/information') Profile
      a.breadcrumb#profile-page-name(href='/profile/information') Posts
  .row
    table.striped.highlight
      thead
        tr
          th Subject
          th Status
          th Created
          th Rate
      tbody
        each material in materials
          tr
            td
              a(href=`/material/?id=${material.id}`) #{material.subject}
            td= material.status
            td= material.created
            td Value in process :)
        
