extends layout

block content
  .section.white
    .row.container
      h2.header Explore
      p.grey-text.text-darken-3.lighten-3 Our nine creatively and editorially independent publishing houses seek out and enable talented people from all walks of life to tell their stories – and make sure they are heard. From bestselling writers and bold illustrators, to big thinkers and political commentators, trailblazing entrepreneurs and wellbeing experts, we are home to some of the world's most celebrated authors. 
  .parallax-container
    .parallax
      img(src='/images/papers/2.jpg')
  .section.white
    .row.container
      h2.header Publishing house #1 in my home
      p.grey-text.text-darken-3.lighten-3 Newspapers are regularly scheduled publications that present recent news, typically on a type of inexpensive paper called newsprint. Most newspapers are primarily sold to subscribers, through retail newsstands or are distributed as advertising-supported free newspapers. About one-third of publishers in the United States are newspaper publishers.
  .parallax-container
    .parallax
      img(src='/images/papers/4.jpg')
  .section.white
    .row.container
        h2.header Editorial stage
        p.grey-text.text-darken-3.lighten-3 A decision is taken to publish a work, and the technical legal issues resolved, the author may be asked to improve the quality of the work through rewriting or smaller changes and the staff will edit the work. Publishers may maintain a house style, and staff will copy edit to ensure that the work matches the style and grammatical requirements of each market. Editors often choose or refine titles and headlines. Editing may also involve structural changes and requests for more information. Some publishers employ fact checkers, particularly regarding non-fiction works. 
  .parallax-container
    .parallax
      img(src='/images/papers/3.jpg')
  .section.white
    .row.container
        h2.header Design stage
        p.grey-text.text-darken-3.lighten-3 When a final text is agreed upon, the next phase is design. This may include artwork being commissioned or confirmation of layout. In publishing, the word "art" also indicates photographs. Depending on the number of photographs required by the work, photographs may also be licensed from photo libraries. For those works that are particularly rich in illustrations, the publisher may contract a picture researcher to find and license the photographs required for the work. The design process prepares the work for printing through processes such as typesetting, dust jacket composition, specification of paper quality, binding method and casing. The type of book being produced determines the amount of design required. For standard fiction titles, the design is usually restricted to typography and cover design. For books containing illustrations or images, design takes on a much larger role in laying out how the page looks, how chapters begin and end, colours, typography, cover design and ancillary materials such as posters, catalogue images, and other sales materials. Non-fiction illustrated titles are the most design intensive books, requiring extensive use of images and illustrations, captions, typography and a deep involvement and consideration of the reader experience. The activities of typesetting, page layout, the production of negatives, plates from the negatives and, for hardbacks, the preparation of brasses for the spine legend and Imprint are now all computerized. Prepress computerization evolved mainly in about the last twenty years of the 20th century. If the work is to be distributed electronically, the final files are saved in formats appropriate to the target operating systems of the hardware used for reading. These may include PDF files. 
  .parallax-container
    .parallax
      img(src='/images/papers/4.jpg')
  .section.white
    .row.container
        h2.header Sales and marketing stage
        p.grey-text.text-darken-3.lighten-3 The sales and marketing stage is closely intertwined with the editorial process. As front cover images are produced, or chapters are edited, sales people may start talking about the book with their customers to build early interest. Publishing companies often produce advanced information sheets that may be sent to customers or overseas publishers to gauge possible sales. As early interest is measured, this information feeds back through the editorial process and may affect the formatting of the book and the strategy employed to sell it. For example, if interest from foreign publishers is high, co-publishing deals may be established whereby publishers share printing costs in producing large print runs thereby lowering the per-unit cost of the books. Conversely, if initial feedback is not strong, the print-run of the book may be reduced, the marketing budget cut or, in some cases, the book is dropped from publication altogether. 
