extends layout
block additionalScripts
  script(src='/javascripts/libs/markdown.js')
  script(src='/javascripts/material/image-upload.js')
  script(src='/javascripts/material/send-post.js')
block content
  .container
    .row
      .col.s12 
        ul.tabs
          li.tab.col.s3
            a(href='#edit').active Edit
          li.tab.col.s3
            a(href='#preview' onclick='updatePreview();') Preview
      .col.s12#edit
        .row
          .col.s12.input-field
            textarea.materialize-textarea#edit-textarea
            label(for='edit-textarea') Your markdown text here...
          .col.s12
            label Tips:
          .col.s12
            label # H1 header
          .col.s12
            label ## H2 header, and so on
          .col.s12
            label Paste pictures using ![picturename](picttureurl)
          .col.s12
            label
              a(href='https://www.markdownguide.org/getting-started') Markdown syntax
          .col.l3.m4.s10
            .btn.file-field.waves-effect.waves-light#upload-btn Upload image
              i.material-icons.right file_upload
              input#image-upload(type='file')
          .col.l9.m8.s2
            #image-upload-preloader.preloader-wrapper.active.hide
                .spinner-layer.spinner-blue-only
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle
          .col.s12
            ul.collection#uploads-collection
            
      .col.s12#preview
        #preview-zone(style='border: 1px solid black;')
        a.btn.right.waves-effect.waves-light.modal-trigger(href='#subject-input-modal') Ready? Submit!
          i.material-icons.right send
  
  #subject-input-modal.modal.bottom-sheet
    .modal-content
      h3 New Material
      p= 'Author: ' + session.userNickname
      .input-field
        input#subject-input(type='text')
        label(for='subject-input') Subject here
    .modal-footer
      a#send-post.btn-flat.waves-effect.modal-close(href='#') Come on!

