extends layout
block content
  .container
    .row
      -var n = 0;
      while n < 100
        .col.s12.m6.l4
          .card.hoverable
            .card-image
              img(src='/images/backgrounds/1.jpeg')
              span.card-title Card title
            .card-content
              p This is a text preview look at this #{n++}
            .card-action
              a(href='#') Open