extends layout
block content
  .container
    .row
      .col.s12.l3
        .collection
          a.collection-item.waves-effect.waves-light.active(href='#') Main information
          a.collection-item.waves-effect(href='#') My posts
          a.collection-item.waves-effect(href='#') Administration
      .col.s12.l9
        row
          block profile-selection
          