extends layout
block content
  .container
    form
      .row
        .col.s12
          .input-field
            i.material-icons.prefix email
            input#reg-email.validate(type='email')
            label(for='reg-email') Email
        .col.s12.l6
          .input-field
            i.material-icons.prefix lock
            input#reg-password(type='password')
            label(for='reg-password') Password
        .col.s12.l6
          .input-field
            i.material-icons.prefix.hide-on-med-and-down lock
            input#reg-rep-password(type='password')
            label(for='reg-rep-password') Repeat password
        .col.s12.l6
          .input-field
            i.material-icons.prefix account_circle
            input#reg-first-name(type='text')
            label(for='reg-first-name') First name
        .col.s12.l6
          .input-field
            i.material-icons.prefix.hide-on-med-and-down account_circle
            input#reg-last-name(type='text')
            label(for='reg-last-name') Last name
        .col.s12.l6
          .input-field.tooltipped(data-tooltip='Nickname will be visible for all users')
            i.material-icons.prefix account_box
            input#reg-nickname(type='text')
            label(for='reg-nickname') Nickname
        .col.s6
          .input-field
            i.material-icons.prefix date_range
            input#reg-birthday.datepicker(type='text' minDate='01.01.1920')
            label(for='reg-birthday') Birthday
        .col.s6.l12
          .file-field.input-field
            .btn-small
              span File
              input(type='file', accept="image/x-png,image/gif,image/jpeg")
            .file-path-wrapper
              input.file-path.validate(type='text', placeholder='Avatar icon')
        .col.s12
          .switch
            label
              input(type='checkbox')
              span.lever
              span I agree with 
                a(href='#') license agreement
        .col.s12
          .switch
            label
              input(type='checkbox' checked='true')
              span.lever
              span Notify me about the new via my email address
      .row
        .col.s12
          button.btn.right Register
            i.material-icons.right send
        
